# Spring Boot specific
/target/
/build/

# IDE-specific files (e.g., IntelliJ, Eclipse)
/.idea/
/.vscode/
/.project
/.classpath
/.settings/

# Compiled Java classes
*.class

# Logs
logs/

# Maven specific
log/
target/
*.log
mvnw
mvnw.cmd
.idea/

# Gradle specific
.gradle/
build/
*.iml
out/

# OS-specific files
.DS_Store
Thumbs.db

